* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#messages {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
}

.mainCon {
  border: 2px solid black;
  padding: 10px;
}

.nDDcon {
  display: flex;
  gap: 10px;
}

.username {
  margin-right: auto;
  order: 1;
  font-weight: bold;
}

.datemade {
  order: 3;
}
.deletebtn {
  background-color: rgb(255, 120, 120);
  order: 2;
}
.deletebtn:hover {
  background-color: rgb(255, 0, 0);
}

#new-form {
  margin: 10px;
  width: auto;
}
#new-form fieldset {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
