header {
  background-color: gray;
  width: 100dvw;
  padding: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 30px;
  justify-content: center;
}

.navbarlinks {
  all: unset;
  font-size: large;
  font-family: sans-serif;
  text-decoration-line: underline;
}

.navbarlinks:hover {
  background-color: rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

footer {
  background-color: gray;
  width: 100dvw;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

@media (max-width: 844px) {
  .navbar {
    justify-content: flex-start;
  }
}
