/* Initial reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.homeimage {
  position: relative;
  text-align: center;
  height: 100dvh;
  overflow: hidden;
}

.opbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(128, 128, 128, 0.9);
  padding: 30px;
  overflow: hidden;
}

#parkimage {
  height: 100dvh;
  position: relative;
  z-index: -1;
  right: 150px;
}

@media (min-width: 844px) {
  #parkimage {
    right: 0;
  }
}
